*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
    display: grid; 
    place-items: center;
    background-color: #0f1111;
}
form{
    height: 80%;
    width: 50%;
    box-shadow: inset 0px 0px 10px #2d2b2b;
    border-radius: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0px;
}
form h1{
    font-size: 40px;
}

input{
    height: 40px;
    width: 80%;
    border-radius: 20px;
    border: none;
    background-color:#4e544d;
    outline: none;
    padding: 0px 20px;
    color: #fff;
    font-size: 14px;
    transition: all 0.2s ease-in-out;
}
input:focus{
    background-color: white;
    color:#4e544d;

}
#Signin{
  width: 40%;
  cursor: pointer;
  color: #2d2b2b;
  font-size: 14px;
  font-weight: 600;
  background-color:#fff;

}
label{
    color: #4e544d;
    font-size: large;
}
a{
   color: #fff;
}

@media (max-width:400px) {
    form{
        height: 100%;
        width: 100%; 
        border-radius:0px;
        padding-bottom: 100px;
    }
}
@media (max-height:900px) {
    form{
        height: 100%;
    }
}